USE [master]
GO
/****** Object:  Database [ListadoSeries]    Script Date: 03/11/2022 9:42:03 ******/
CREATE DATABASE [ListadoSeries]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ListadoSeries', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ListadoSeries.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ListadoSeries_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ListadoSeries_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ListadoSeries].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ListadoSeries]
GO
/****** Object:  Table [dbo].[Series]    Script Date: 03/11/2022 9:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Series](
	[SerieId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](160) NOT NULL,
	[Temporadas] [int] NOT NULL,
	[FechaEstreno] [datetime] NULL,
 CONSTRAINT [PK_Series] PRIMARY KEY CLUSTERED 
(
	[SerieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
